#root {
    /*background-image: linear-gradient(to right,  #ace0f9 0%, #fff1eb 100%);*/
    background-color: #e0e0e0;
    /*min-height: 100%;*/
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    border-bottom: 1px solid #ebebeb;
}

footer {
    color: #6a6969;
    margin: 0;
    padding: 0.5em;
}

p {
    margin-bottom: 0.5em
}
