#root {
    /*background-image: linear-gradient(to right,  #ace0f9 0%, #fff1eb 100%);*/
    /*background-image: linear-gradient(to right top, #329dcb, #60a1df, #90a2eb, #bea1ee, #e99fe6);*/
    min-height: 100%;
    background-color: #424242;
    display: flex;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.root {
    flex-grow: 1;
    z-index: 1;
    display: flex;
}

footer {
    color: #6a6969;
    padding: 0.5em;
}

p {
    margin-bottom: 0.5em
}
